
<div class="mt-2 flex p-3 absolute z-40 border w-auto bg-white rounded shadow items-center justify-center">
    <div class="shopping-cart">
      <div class="shopping-cart-header">
        <i class="fa fa-shopping-cart cart-icon"></i>
        <div class="shopping-cart-total flex justify-end border rounded border-white shadow-md mb-3 p-3">
          <span class="lighter-text">Total: </span>
          <span class="main-color-text">00,00€</span>
        </div>
      </div> <!--end shopping-cart-header -->
          <ul class="shopping-cart-items">
            <li class="flex items-center">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item1.jpg" alt="item1" />
              <span class="item-name">Sony DSC-RX100M III</span>
              <span class="item-price">$849.99</span>
              <span class="item-quantity">Quantity: 01</span>
            </li>
          </ul>
    <div class="flex items-center justify-center">
        <button class="transition ease duration-300 text-white border-1 rounded-2xl 
        p-2 bg-gradient-to-r from-orange-500 to-red-600 hover:from-custom-pink hover:to-custom-pink">
        Ir a la cesta</button>
    </div>
          
        </div> <!--end shopping-cart -->
      </div> <!--end container -->    