<main class=" my-36 flex items-center justify-center">

    <div class="flex-col lg:w-2/4 md:w-2/4 sm:w-2/4 shadow rounded-lg overflow-hidden">
        <div class=" bg-black p-2.5"></div>
        <div class="grid grid-cols-12" id="page">

            <div class="col-span-2 bg-redHeader-500">
                <div class="flex-col text-center justify-center pt-3">

                </div>
            </div>
            <div class="col-span-10 p-10 bg-redHeader-300">
                <div class="flex flex-col items-center pt-3 w-full" id="a">
                    <form action="" method="post" class="w-2/2 pr-24">
                        <label for="user" class="flex justify-end ">
                            <p>
                                Usuario
                                <input type="text" name="User" id="user" cols="15" rows="1" maxlength="15"
                                    class="rounded-end-3 ml-3">
                            </p>
                        </label>
                        <label for="name" class="flex  justify-end ">
                            <p> Nombre
                            <input type="text" name="name" id="psw" cols="15" rows="1" maxlength="15"
                                placeholder="" class="rounded-end-3 ml-3">
                            </p>
                        </label>
                        <label for="firstname" class="flex  justify-end">
                            <p> Primer Apellido
                            <input type="text" name="firstname" id="psw" cols="15" rows="1" maxlength="15"
                                placeholder="" class="rounded-end-3 ml-3">
                            </p>
                        </label>
                        <label for="secondname" class="flex justify-end">
                            <p> Segundo Apellido
                            <input type="text" name="secondname" id="psw" cols="15" rows="1" maxlength="15"
                                placeholder="" class="rounded-end-3 ml-3">
                            </p>
                        </label>
                        <label for="password" class="flex  justify-end">
                            <p> Contraseña
                            <input type="password" name="password" id="psw" cols="15" rows="1" maxlength="15"
                                placeholder="" class="rounded-end-3 ml-3">
                            </p>
                        </label>
                        <label for="button" class="flex justify-center ">
                            <button
                                class="transition ease duration-300 text-white shadow-lg rounded-2xl p-2 bg-gradient-to-r from-orange-500 to-red-600 hover:from-custom-pink hover:to-custom-pink">Login</button>
                        </label>
                        <label>
                            <!-- <div class="">
                            <div id="g_id_onload"
                                data-client_id="31992607121-23bba5v4cm48mb7eqvhm5hjn3hleavbi.apps.googleusercontent.com"
                                data-context="signup" data-ux_mode="redirect"
                                data-login_uri="http://pogomangaapi.com:3001/auth/google" data-auto_prompt="false">
                            </div>

                            <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline"
                                data-text="signin_with" data-size="large" data-logo_alignment="left">
                            </div>
                            </div> -->
                        </label>
                    </form>
                </div>
            </div>
            <div class=""></div>
        </div>
    </div>
</main>