<div class="flex justify-between items-center flex-wrap bg-redHeader-500 min-h-[16vh] p-4" id="header">
    <a [routerLink]="['/main']"><img src="../../../assets/images/pogomanga-logo.png" id="img-logo" class="h-30"></a>
    <input type="text" id="buscador" placeholder="Buscar..." class="bg-white bg-opacity-70 h-10 px-4 flex-1 mr-8 ml-3 bg-no-repeat bg-right" style="background-image: url('../../../assets/images/lupa-search.png')">
    <div class="flex justify-center gap-12 mr-10 w-[19%]">
        <div class="flex items-center gap-2">
            <a href="#"><img src="../../../assets/images/perfil.png" class="w-12 h-12"></a>
            <a href="#" class="text-white text-lg no-underline">Iniciar Sesión</a>
        </div>
        <div class="w-12 h-12">
            <a href="#"><img src="../../../assets/images/carrito.png"></a>
        </div>
    </div>
</div>
