<div class="flex items-center flex-wrap bg-redHeader-500 min-h-[16vh] p-4 gap-5" id="header">
    <a href="#"><img src="../../../assets/images/pogomanga-logo.png" id="img-logo" class="h-30"></a>

    <input type="text" id="buscador" placeholder="Buscar..." (input)="search($event)"    
    class="bg-white bg-opacity-70 h-10 flex-1 bg-no-repeat bg-right rounded-md"
        style="background-image: url('../../../assets/images/lupa-search.png')">

    @if(userInfo){
    <div class="login-container">
        <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown"
            class="text-white bg-black font-medium rounded-lg text-sm px-2.5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            type="button">
            {{ userInfo.usuario }}
            <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 1 4 4 4-4" />
            </svg>
        </button>

        <!-- Dropdown menu -->
        <div id="dropdown" class="z-50 hidden bg-white divide-gray-100 rounded-lg shadow dark:bg-gray-700 w-32">
            <ul class="flex flex-col text-sm text-gray-700 dark:text-gray-200 p-2 m-0">
                <li>
                    <a href="#"
                        class="my-2 text-center no-underline block text-black hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-black">Profile</a>
                </li>
                <li>
                    <a href="#"
                        class="my-2 text-center no-underline block text-black hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-black"
                        (click)="onLogout()">Logout
                    </a>
                </li>

            </ul>
        </div>

    </div>}
    @else { <div class="text-white flex items-center gap-3 cursor-pointer" [routerLink]="['/login']">
        <img src="../../../assets/images/perfil.png" class="w-12 h-12">Iniciar sesión
    </div>}
    <div class="w-12 h-12 cursor-pointer" (click)="showBox()">
        <i class="fa fa-shopping-cart "></i> <img src="../../../assets/images/carrito.png">
    </div>
</div>

<div>
    @if (!isHidden) {<app-carrito-box class="flex justify-end mr-10"></app-carrito-box>}
</div>