<div class="flex gap-1 items-center">
    <button [routerLink]="['/main']">Inicio</button>
    <p class="m-0">></p>
    <button>Figuras</button>
    <p class="m-0">></p>
    <button> {{ products?.categoria }}</button>
    <p class="m-0">></p>
    <button> {{ products?.nombre }} </button>
</div>
<div class="flex justify-center gap-20">
    <div class="flex flex-col gap-6 w-[5%]">
        @if (products?.tipo == 1) {
        @for (item of productImages; track item; let index = $index) {
        <img class="cursor-crosshair border-solid border-1 max-w-[100%] max-h-[16%] border-black shadow-lg rounded-xl"
            src="{{item}}.jpg" (click)="changeImg(index)">
        }
        }
    </div>
    <img #mainImage class="h-[30%] w-[30%] rounded-xl" src="{{ currentImg }}">
    <div>
        <h1>{{ products?.nombre }}</h1>
        <p>Características</p>
        <hr>
        <p>Categoria: {{ products?.categoria }}</p>
        <p>Tamaño: {{ products?.tamano }}cm</p>
        <p>Presentación: {{ products_detail?.presentacion }}</p>

    </div>
</div>