<div class="flex justify-center lg:px-[1%] md:py-24 ">
    <div class="lg:w-[25%] xl:w-[18%] 2xl:w-[13%] bg-red-100 border-2 border-black hidden md:flex flex-col rounded-xl text-center gap-8 p-8 h-[50%]">
        <h1 class="text-lg font-bold">Categorías</h1>
        <p class="text-lg cursor-pointer hover:text-red-500" (click)="filterCategory('Dragon Ball')">Dragon Ball</p>
        <p class="text-lg cursor-pointer hover:text-red-500" (click)="filterCategory('Jujutsu Kaisen')">Jujutsu Kaisen</p>
        <p class="text-lg cursor-pointer hover:text-red-500" (click)="filterCategory('Kimetsu No Yaiba')">Kimetsu no Yaiba</p>
        <p class="text-lg cursor-pointer hover:text-red-500" (click)="filterCategory('Naruto')">Naruto</p>
        <p class="text-lg cursor-pointer hover:text-red-500" (click)="filterCategory('One Piece')">One Piece</p>
        <p class="text-lg cursor-pointer hover:text-red-500" (click)="filterCategory('My Hero Academia')">My Hero Academia</p>
        <p class="text-lg cursor-pointer hover:text-red-500" (click)="filterCategory('One Punch Man')">One Punch Man</p>
        <div class="flex flex-col items-center">
            <p class="font-bold text-lg cursor-default max-w-[80%] lg:hidden text-center whitespace-pre-wrap" id="filtrar-disponible">FILTRAR POR DISPON.</p>
            <p class="font-bold text-lg cursor-default max-w-[80%] hidden lg:block text-center whitespace-pre-wrap" id="filtrar-disponible">FILTRAR POR DISPONIBILIDAD</p>
            <div class="text-left">
                <input type="checkbox" id="Stock" name="Stock" value="Stock" (change)="filterAvailability($event)">
                <label class="ml-1" for="Stock">Stock</label><br>
                <input type="checkbox" id="segunda_mano" name="segunda_mano" value="segunda_mano" (change)="filterAvailability($event)">
                <label class="ml-1" for="segunda_mano">Segunda Mano</label>
            </div>
        </div>
    </div>
    <div class="md:ml-24">
        <section>
            <p class="font-bold text-3xl text-center">Figuras</p>
            <div class="grid grid-cols-1 xs:grid-cols-2 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-16">
                @if(products$ | async; as resultObject) {
                @for (item of resultObject.productos.slice(0,16); track item.nombre) {
                <app-card-info [cardInfo]="item" />
                }
                }
            </div>
        </section>
    </div>
</div>