<div class="flex gap-5 justify-around py-4">

  <div class="flex flex-col w-fit">
    <h3>INFORMACION PERSONAL</h3>
    <label for="usuario">usuario:</label>
    <input type="text" name="usuario" id="usuario" [(ngModel)]="user.usuario">
    <label for="nombre">nombre:</label>
    <input type="text" name="nombre" id="nombre" [(ngModel)]="user!.nombre">
    <label for="apellido1">apellido:</label>
    <input type="text" name="apellido1" id="apellido1" [(ngModel)]="user!.apellido1">
    <label for="apellido2">apellido:</label>
    <input type="text" name="apellido2" id="apellido2" [(ngModel)]="user!.apellido2">
    <label for="correo">correo:</label>
    <input type="text" name="correo" id="correo" [(ngModel)]="user!.correo">
    <button class="p-2 bg-teal-500 text-white rounded-lg mt-2 w-fit mx-auto" (click)="updateUser()">Actualizar Información Personal</button>
  </div>

  @if (direcciones && direcciones.length > 0) {
    <div class="flex flex-col w-fit">
      <h3>DIRECCIONES</h3>
      @for (item of direcciones; track $index) {
        <label for="pais">pais:</label>
        <select name="pais" id="pais" [(ngModel)]="item.pais" class="border rounded p-2" (change)="onPaisChange(item)">
          @for (pais of paisesEuropa; track $index) {
            <option id="pais" value={{pais}}>{{ pais }}</option>
          }
        </select>

        <label for="provincia">provincia:</label>
        <select name="provincia" id="provincia" [(ngModel)]="item.provincia">
          @for (provincia of item.provincias; track $index) {
            <option id="provincia" value={{provincia}}>{{ provincia }}</option>
          }
        </select>

        <label for="ciudad">ciudad:</label>
        <input type="text" name="ciudad" id="ciudad" [(ngModel)]="item.ciudad">

        <label for="codigo_postal">codigo_postal:</label>
        <input type="number" name="codigo_postal" id="codigo_postal" [(ngModel)]="item.codigo_postal"
               pattern="\d{5}" maxlength="5" title="El código postal debe ser un número de 5 dígitos">
        @if (codigoPostalErrorMessage && item.codigo_postal !== undefined && !validarCodigoPostal(item.codigo_postal.toString())) {
          <div class="error-message bg-red-400 border border-red-700 p-1 m-1 rounded-md">{{ codigoPostalErrorMessage }}</div>
        }


        <label for="calle">calle:</label>
        <input type="text" name="calle" id="calle" [(ngModel)]="item.calle">

        <label for="piso">piso:</label>
        <input type="text" name="piso" id="piso" [(ngModel)]="item.piso">

        <label for="puerta">puerta:</label>
        <input type="text" name="puerta" id="puerta" [(ngModel)]="item.puerta">

        <button class="p-2 bg-teal-500 text-white rounded-lg mt-2 w-fit mx-auto" (click)="updateDireccion(item.id_direccion, item)">Actualizar Dirección</button>
        <button class="p-2 bg-red-500 text-white rounded-lg mt-2 w-fit mx-auto" (click)="eliminarDireccion(item.id_direccion)">Eliminar Dirección</button>

      }
    </div>
  } @else {
    <h3>Todavía no tienes ninguna dirección</h3>

  }

    <div class="flex flex-col w-fit">
      <h3>Nueva direccción</h3>

      @if (!agregandoDireccion) {
        <button class="p-2 bg-teal-500 text-white rounded-lg mt-2 w-fit mx-auto" (click)="agregarDireccion()">Agregar Nueva Dirección</button>
      }
      @if (agregandoDireccion) {

        <label for="pais">pais:</label>
        <select name="pais" id="pais" [(ngModel)]="nuevaDireccion.pais" class="border rounded p-2" (change)="onPaisChange(nuevaDireccion)">
          @for (pais of paisesEuropa; track $index) {
            <option id="pais" value={{pais}}>{{ pais }}</option>
          }
        </select>

        <label for="provincia">provincia:</label>
        <select name="provincia" id="provincia" [(ngModel)]="nuevaDireccion.provincia">
          @for (provincia of nuevaDireccion.provincias; track $index) {
            <option id="provincia" value={{provincia}}>{{ provincia }}</option>
          }
        </select>

        <label for="ciudad">ciudad:</label>
        <input type="text" name="ciudad" id="nuevaDireccionCiudad" [(ngModel)]="nuevaDireccion.ciudad">

        <label for="codigo_postal">codigo_postal:</label>
        <input type="text" name="codigo_postal" id="nuevaDireccionCodigo_postal" [(ngModel)]="nuevaDireccion.codigo_postal">
        @if (codigoPostalErrorMessage && nuevaDireccion.codigo_postal !== undefined && !validarCodigoPostal(nuevaDireccion.codigo_postal.toString())) {
          <div class="error-message bg-red-400 border border-red-700 p-1 m-1 rounded-md">{{ codigoPostalErrorMessage }}</div>
        }

        <label for="calle">calle:</label>
        <input type="text" name="calle" id="nuevaDireccionCalle" [(ngModel)]="nuevaDireccion.calle">

        <label for="piso">piso:</label>
        <input type="text" name="piso" id="nuevaDireccionPiso" [(ngModel)]="nuevaDireccion.piso">

        <label for="puerta">puerta:</label>
        <input type="text" name="puerta" id="nuevaDireccionPuerta" [(ngModel)]="nuevaDireccion.puerta">

        <button class="p-2 bg-teal-500 text-white rounded-lg mt-2 w-fit mx-auto" (click)="confirmarNuevaDireccion()">Guardar Dirección</button>
        <button class="p-2 bg-red-500 text-white rounded-lg mt-2 w-fit mx-auto" (click)="cancelarAgregarDireccion()">Cancelar</button>
      }

    </div>
</div>

