<div class="flex gap-5 justify-around py-4">

  <div class="flex flex-col w-fit">
    <h3>INFORMACION PERSONAL</h3>
    <label for="usuario">usuario:</label>
    <input type="text" name="usuario" id="usuario" [(ngModel)]="user.usuario">
    <label for="nombre">nombre:</label>
    <input type="text" name="nombre" id="nombre" [(ngModel)]="user!.nombre">
    <label for="apellido1">apellido:</label>
    <input type="text" name="apellido1" id="apellido1" [(ngModel)]="user!.apellido1">
    <label for="apellido2">apellido:</label>
    <input type="text" name="apellido2" id="apellido2" [(ngModel)]="user!.apellido2">
    <label for="correo">correo:</label>
    <input type="text" name="correo" id="correo" [(ngModel)]="user!.correo">
    <button class="p-2 bg-teal-500 text-white rounded-lg mt-2 w-fit mx-auto" (click)="updateUser()">Actualizar Información Personal</button>
  </div>

  <!-- El código para las direcciones sigue igual -->
  @if (direcciones && direcciones.length > 0) {
    <div class="flex flex-col w-fit">
      <h3>DIRECCIONES</h3>
      @for (item of direcciones; track $index) {
        <label for="pais">pais:</label>
        <input type="text" name="pais" id="pais" [(ngModel)]="item.pais">
        <label for="provincia">provincia:</label>
        <input type="text" name="provincia" id="provincia" [(ngModel)]="item.provincia">
        <label for="ciudad">ciudad:</label>
        <input type="text" name="ciudad" id="ciudad" [(ngModel)]="item.ciudad">
        <label for="codigo_postal">codigo_postal:</label>
        <input type="text" name="codigo_postal" id="codigo_postal" [(ngModel)]="item.codigo_postal">
        <label for="calle">calle:</label>
        <input type="text" name="calle" id="calle" [(ngModel)]="item.calle">
        <label for="piso">piso:</label>
        <input type="text" name="piso" id="piso" [(ngModel)]="item.piso">
        <label for="puerta">puerta:</label>
        <input type="text" name="puerta" id="puerta" [(ngModel)]="item.puerta">
        <button class="p-2 bg-teal-500 text-white rounded-lg mt-2 w-fit mx-auto" (click)="updateDireccion(item.id_direccion, item)">Actualizar Dirección</button>
      }
    </div>
  } @else {
    <h3>Todavía no tienes ninguna dirección</h3>

  }
</div>
