<div class="w-full bg-redHeader-300">
    <div class="container w-full text-center flex flex-wrap font-bold ">
        <div class="w-1/5 flex items-center justify-center h-16 no-underline">
            <p class="cursor-pointer hover:text-red-500 m-0">FIGURAS</p>
        </div>
        <div class="w-1/5 flex items-center justify-center no-underline">
            <p class="cursor-pointer hover:text-red-500 m-0">MANGA</p>
        </div>
        <div class="w-1/5 flex items-center justify-center no-underline">
            <p class="cursor-pointer hover:text-red-500 m-0">POGONOVEDADES</p>
        </div>
        <div class="w-1/5 flex items-center justify-center no-underline">
            <p class="cursor-pointer hover:text-red-500 m-0" [routerLink]="['/shop']">NUESTRA TIENDA</p>
        </div>
        <div class="w-1/5 flex items-center justify-center no-underline">
            <p class="cursor-pointer hover:text-red-500 m-0" [routerLink]="['/contact']">CONTÁCTANOS</p>
        </div>
    </div>
</div>