<div class="w-full bg-redHeader-300">
    <div class="container w-full text-center flex flex-wrap font-bold ">
        <div class="w-1/5 flex items-center h-16 justify-center no-underline hover:text-red-500">FIGURAS</div>
        <div class="w-1/5 flex items-center justify-center no-underline hover:text-red-500">MANGA</div>
        <div class="w-1/5 flex items-center justify-center no-underline hover:text-red-500">POGONOVEDADES</div>
        <div class="w-1/5 flex items-center justify-center no-underline hover:text-red-500">NUESTRA TIENDA</div>
        <div class="w-1/5 flex items-center justify-center no-underline hover:text-red-500">CONTÁCTANOS</div>
    </div>
</div>