    <div class="flex justify-around flex-wrap text-center font-bold h-16 shadow bg-redHeader-300">
        <div class="flex items-center justify-center no-underline">
            <p class="cursor-pointer hover:text-red-500 m-0" [routerLink]="['/figuras']">FIGURAS</p>
        </div>
        <div class=" flex items-center justify-center no-underline">
            <p class="cursor-pointer hover:text-red-500 m-0" [routerLink]="['/mangas']">MANGAS</p>
        </div>
        <div class="flex items-center justify-center no-underline">
            <p class="cursor-pointer hover:text-red-500 m-0" [routerLink]="['/main']">POGONOVEDADES</p>
        </div>
        <div class="flex items-center justify-center no-underline">
            <p class="cursor-pointer hover:text-red-500 m-0" [routerLink]="['/shop']">NUESTRA TIENDA</p>
        </div>
        <div class="flex items-center justify-center no-underline">
            <p class="cursor-pointer hover:text-red-500 m-0" [routerLink]="['/contact']">CONTÁCTANOS</p>
        </div>
    </div>
